/*OVERALL SETTINGS*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Helvetica Neue', sans-serif;
}

/*header*/

.header-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.yellow-line {
    display: block;
    width: auto;
}

.logo {
    display: block;
    padding-left: 30px;
    width: 180px;
    height: 60px;
}

/*MAIN PART*/

.main-container {
    display: flex;
}   

.side-bar {
    width: 288px;
    height: 1950px;     /*can edit: pahabain*/
    background-color: rgba(229, 229, 229, 0.50);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.side-bar-text {
    max-width: 220px;
    top: 295px;
    left: 50px;
    font-size: 13px;
    position: relative;
    text-align: right;
    color: rgba(0, 57, 85, 0.75); 
    cursor: pointer;
}


/*MAIN PART--right container*/

.right-container {
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title {
    color: #EAAB00;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0px 5px 60px;
}

/*PROGRESS BAR*/

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 80px;
}

.step-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically centered */
    width: 100%;
}

.text-container {
    width: 147px; /* Set the width of the container */
    word-wrap: break-word; /* Ensures long words are broken to fit within the container */
    padding: 10px; /* Optional: adds padding for better readability */
    text-align: center;
    color: rgba(0, 57, 85, 0.50); /* Set text color */
    font-size: 14px; /* Set font size */
    font-weight: 500; /* Set font weight */
    line-height: 15px; /* Set line height */
}

.line-container {
    position: relative;
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 15px;
    background: white;
    border-radius: 40px; /* Make the ends of the line rounded */
    transform: translateY(-50%);
    z-index: 0;
    border: 2px solid #EAAB00; /* Added border to make the line visible */
}

.bullet-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; /* Align bullets vertically centered */
    padding-left: 65px; /* Ensure bullets do not touch the edge */
    padding-right: 65px; /* Ensure bullets do not touch the edge */
}

.bullet {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EAAB00;
    font-weight: bold;
    border: 2px solid #EAAB00; /* Add a border to match the line color */
    z-index: 1;
}

.divide-line {
    width: 1000px;
    max-width: 1000px;
    height: 3px;
    display: block;
    position: relative;
    background-color: rgba(229, 229, 229, 0.50);
    margin: 10px 50px;
}

/*FILL-UP PART--whole setting*/

.sub-title {
    color: rgba(0, 57, 85);
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0px 5px 60px;
}

.category-title { 
    color: rgba(0, 57, 85);
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0px 5px 80px;
}

.present-row {
    margin-top: -75px;
    margin-left: 550px;
}



fieldset {
    border: none;
    display: flex;
}

.policy_owner_name_box, .birthdate, .on_the_life_of_box, .religion_box, .birthplace, .citizenship, .idpresented {
    height: 40px;
    width: 300px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

/*custom size of country textfield*/

.country {
    height: 40px;
    width: 520px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

/*custom size of age textfield*/

.age {
    height: 40px;
    width: 120px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

/*custom size of ids textfield*/

.idnumber, .idexp, .tin, .SSS, .workphone, .mobilephone, .homephone{
    height: 40px;
    width: 210px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

/*explain if there is no css*/
.explain, .permanent, .present, .business{
    height: 40px;
    width: 920px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

.email, .sincewhen{
    height: 40px;
    width: 600px;
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}

.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9, .row10, .row11, .row12, .row13, .row14{
    display: flex;
    
}

.form-group, .religion-group  {
    display: flex;
    flex-direction: column;
    
}


.ifyesbox {
    flex-direction: column;
    margin-left: 660px;
    
}

.ifyes {
    height: 40px;
    width: 210px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    text-indent: 10px;
    padding-right: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    border-radius: 15px; backdrop-filter: blur(40px);
}



.smallname{
    color: gray;
}

/*checkbox*/

.sexcheckbox, .intentioncheckbox, .havecheckbox {
    margin-left: 40px;
    margin-top: 30px;
}

.sex{
    color: rgba(0, 57, 85);
    margin-bottom: 15px;
    font-size: 15px;
   
}

.intentionto, .haveyou{
    color: rgba(0, 57, 85);
    margin-bottom: 55px;
    font-size: 15px;
   
   
}

.checkbox-row, .present-row{
    display: flex;
    color: rgba(0, 57, 85);
    padding-top: 10px;
    font-size: 15px;
    
}

.intentioncheckbox-row {
    color: rgba(0, 57, 85);
  
}

.havecheckbox-row {
    padding-left: 15px;
    margin-top: -30px;
    color: rgba(0, 57, 85);
    
}


.cbox1, .cbox2
{
   height: 15px;
   width: 15px;
   color: rgba(0, 57, 85);
   margin-left: 30px;
   cursor: pointer;
}

.havecbox1, .havecbox2 {
    height: 15px;
    width: 15px;
    color: rgba(0, 57, 85);
    margin-top: 15px;
    padding-left: px;
    margin-left: 50px;
    cursor: pointer;
}

.intentioncbox1, .intentioncbox2
{
    height: 15px;
    width: 15px;
    color: rgba(0, 57, 85);
    margin-top: 15px;
    padding-left: 10px;
    margin-left: 50px;
    cursor: pointer;
}






/*FILLUP PART--edit per input*/


/*BUTTON PART*/
.button-container {
    display: flex;
    position: relative;
}

.button-back, .button-next {
    margin: 7px;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: white;
    cursor: pointer;
    position: relative;
    left: 800px; /*edit this for button position*/
    top: 80px; /*edit this for button position*/
}

.button-back {
    background-color:rgba(217, 217, 217);
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
}

.button-next {
    background-color: #EAAB00;
    box-shadow: 0px 2px 7px -1px rgba(241, 201, 91, 0.50); 
}

.button-back:hover, .button-next:hover {
    opacity: 0.8;
}

.button-back:active, .button-next:active {
    color: black;
}

/*FOOTER PART*/

.footer-container {
    display: flex;
    width: 100%;
    background-color: rgba(24, 74, 88);
    height: 154px;
}  

.footer-left, .footer-right {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.footer-left {
    left: 20px;
}

.footer-right {
    right: 20px;
    justify-content: right;
}

.brighter {
    font-size: 20px;
    font-weight: bold;
    color: #EAAB00;
    margin-bottom: 0px;
}

.brighter2 {
    font-size: 15px;
    margin-top: 25px;
    color: white;
    width: 320px;
    line-height: 20px;
}

.legal {
    font-size: 15px;
    margin-top: 30px;
    margin-right: 20px;
    color: white;
    width: 400px;
    line-height: 20px;
    text-align: right;
}

.legal2{
    font-size: 15px;
    margin-top: 10px;
    color: white;
    width: 300px;
    line-height: 20px;
    width:400px;
    text-align: right;
}

/* USE THIS TO CHECK OVERFLOW
* {
    outline: 1px solid red;
}
*/