
body {
    background-image: url('daaimages/Blue\ Green\ Illustrated\ Badminton\ Achievement\ Certificate\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}



.redrec {
    position: absolute;
    opacity: 90%;

}

.rectangle 
{
    height: 708px;
    width: 1520px;

}


.redlogin {
    position: absolute;
    top: 170px;
    left: 500px;

}

.solidred {
    height: 410px;
    width: 550px;
    opacity: 80%;
}

.topdesign {
    position: absolute;
    left: 500px;
    top: 100px;
}


.signin {
    position: absolute;
    top: 160px;
    left: 720px;
}


.signintext{
    
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #320000;
   
}

.generalemailpass
{
    position: absolute;
    left: 530px;
    top: 250px;
}

.email1, .password {
    border-radius: 20px;
    height: 40px;
    width: 400px;
    border-color: gray;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    text-indent: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
   padding-right: 35px;
   padding-left: 45px;
}

.username, .passtext {
    color: black;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: bold;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.message
{
    top: 35px;
    position: absolute;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.lock {
    top: 115px;
    position: absolute;
    height: 20px;
    margin-left: 20px;
}

.eye {
    position: absolute;
    left: 450px;
    height: 30px;
    top: 110px;
}

.login {
    height: 40px;
    width: 150px;
    border-radius: 30px;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    font-size: 15px;
    border-color: gray;
    font-weight: bold;
    color: #45474B;
    border-style: solid;
    

}

.login:hover {
    color: red;
}

.loginbutton:active {
    opacity: 50%;
}

.loginbutton {
    top: 180px;
    position: absolute;
    left: 160px;

}

.welcome {
    color: #FFC671;
    font-size: 45px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1000px;
    text-align: center;
}

.welcometext {
    position: absolute;
    left: 300px;
    top: -30px;
}

.improve {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.toimprove {
    position: absolute;
    top: 600px;
    left: 500px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 1520px;

}

.agreement {
    color: #45474B;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 400px;

}

.agree {
    display: inline;
    position: absolute;
    top: 280px;
    left: 15px;

    
}
