body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


/* top bar pup lagoon food stalls*/

.topnav{
    width: 1535px;
}

.redrec {
    width: 1535px;
    height: 100px;
}

/* red rectangle with search bar*/
.searchtop {
   display: flex; 
   margin-top: -50px;
}

.searchbox {
    border-color: white;
    background-color: #952323;
    border-style: solid;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    width: 550px;
    height: 40px;
    border-radius: 10px;
    text-indent: 10px;
    color: white;
    opacity: 80%;
    font-size: 20px;
    
}

.searchbystall {
    font-size: 25px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 80%;
    
}

::placeholder {
    color: white;
    opacity: 50%;
    font-size: 20px;
}

.searchbar {
    position: absolute;
    top: 85px;
    left: 320px;
}

.searchbutton {
    width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFBD59 ;
    border-color: #FFBD59;
    color: white;
    margin-left: 20px;
}

.searchbutton:hover {
    opacity: 80%;
    cursor: pointer;
}

.searchbutton:active {
    color: black;
 
}


/* frame settings*/

.frame {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
   
}

.framerec {
    height: 450px;
    width: 1450px;
}
