body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    display: flex;
}

.blur {
    filter: blur(2px); 
    opacity: 0.7; 
    pointer-events: none; 
  }
  


/* top bar pup lagoon food stalls*/

.topnav{
    width: 1535px;
}

.redrec {
    width: 1535px;
    height: 100px;
}

/* red rectangle with search bar*/
.searchtop {
   display: flex; 
   margin-top: -50px;
}

.searchbox {
    border-color: white;
    background-color: #952323;
    border-style: solid;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    width: 550px;
    height: 40px;
    border-radius: 10px;
    text-indent: 10px;
    color: white;
    opacity: 80%;
    font-size: 20px;
    
}

.searchbystall {
    font-size: 25px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: 80%;
    
}

::placeholder {
    color: white;
    opacity: 50%;
    font-size: 20px;
}

.searchbar {
    position: absolute;
    top: 85px;
    left: 320px;
}

.searchbutton {
    width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFBD59 ;
    border-color: #FFBD59;
    color: white;
    margin-left: 20px;
}

.searchbutton:hover {
    opacity: 80%;
    cursor: pointer;
}

.searchbutton:active {
    color: black;
 
}

/*food categories settings*/

.foodcatpic {
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.foodcatbutton, .bevcatbutton, .dessertcatbutton {
    width: 100px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FFC671;
    background-color: #FFC671;
    box-shadow: 0px 2px 7px -1px rgba(0, 57, 85, 0.50); 
    color: black;
    font-size: 18px;
    margin: 0px 2px 10px 0px;
}

.foodcatbutton:hover, .bevcatbutton:hover, .dessertcatbutton:hover {
   opacity: 80%;
}

.foodcatbutton:active, .bevcatbutton:active, .dessertcatbutton:active  {
    color: white;
}

.food {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #952323;
    margin-left: 20px;
}

.foodcategory {
    margin: 10px 20px 20px 10px;
    align-items: center;
    display: flex;
    position: relative;
    left: 250px;
}

/*stalls images with buttons*/

/* buttons settings*/
  
  .btn1,  .btn2, .btn3, .btn4, .btn5, .btn6{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
   .btn1:hover, .btn2:hover,.btn3:hover, .btn4:hover, .btn5:hover, .btn6:hover{
    opacity: 50%;
  }

  .btn1:active, .btn2:active, .btn3:active, .btn4:active, .btn5:active, .btn6:active {
    background-color: black;
  }

  /*fields settings*/

  .row1{
    display: inline-block;
    position: absolute;
       
}

.row2 {
    display: inline-block;
    left: 500px;
    position: absolute;
}

.row3 {
    display: inline-block;
    position: relative;
    left: 1000px;
}

 /*stall images settings*/
.stallfield img {
    width: 60%;
    height: auto; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    
}

.stallfield {
    position: relative;
    flex-direction: column;
    margin: 10px; 
  }